<div class="expense-container mt-4 mb-2">
  <div class="notification">
    <i class="fa-solid fa-file-invoice-dollar icon-expense"></i>
    <div class="notification-content">
      <p class="notification-date"><small><%= result.date.strftime("%d %b %Y") %></small></p>
      <p class="notification-place"><%= result.place %></p>
      <span class="notification-category"><%= result.category %></span>
      <p class="notification-value"><small><%= number_to_currency(result.value, unit: "R$ ", separator: ",", delimiter: ".") %></small></p>
    </div>
    <div class="notification-actions">
      <%= link_to edit_expense_path(result) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to expense_path(result), data:{ turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
</div>
