<%
  seven= "-outline"
  fourteen= "-outline"
  thirty = "-outline"
  if days == 7
    seven = ""
  elsif days == 14
    fourteen = ""
  elsif days == 30
    thirty = ""
  end
%>
<div class="d-flex justify-content-end filter-date">
  <div class="mt-2 bg-white border rounded-5 p-1">
    <%= link_to "#{current_path}?days=7" do %>
      <label class="btn btn<%=seven%>-dark btn-sm border-0 rounded-4">7 days</label>
    <% end %>
    <%= link_to "#{current_path}?days=14" do %>
      <label class="btn btn<%=fourteen%>-dark btn-sm border-0 rounded-4">14 days</label>
    <% end %>
    <%= link_to "#{current_path}?days=30" do %>
      <label class="btn btn<%=thirty%>-dark btn-sm border-0 rounded-4">30 days</label>
    <% end %>
    <%= link_to root_path do %>
      <label class="btn btn-outline-dark btn-sm border-0 rounded-4"><i class="fa-regular fa-calendar-days"></i></label>
    <% end %>
  </div>
</div>
