<div class="footer">
  <ul class="list">
    <li class="item">
      <%= link_to root_path, class: "link" do%>
        <i class="fa-solid fa-gauge"></i>
      <% end %>
    </li>
    <li class="item">
      <%= link_to expenses_path, class: "link" do%>
        <i class="fa-solid fa-receipt"></i>
      <% end %>
    </li>
    <li class="item add">
      <%= render "/shared/floating_button" %>
    </li>
    <li class="item">
      <%= link_to incomes_path, class: "link" do%>
        <i class="fa-solid fa-money-bill-wave"></i>
      <% end %>
    </li>
    <li class="item">
      <%= link_to search_path, class: "link" do%>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </li>
  </ul>
</div>
