<div class="d-flex align-items-center justify-content-between mx-4">
  <span>
    <h1>Overview</h1>
    <p>View all of your Income and Spendings.</p>
  </span>
  <span>
    <%= link_to "add expense", new_expense_path %>
    <%= link_to "add income", new_income_path %>
  </span>
</div>
<div class="d-flex">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-md-6 card-dashboard border p-3">
      <%= bar_chart current_user.expenses.group(:category).sum(:value) %>
      </div>
      <div class="col card-dashboard border p-3">
        <%= pie_chart current_user.expenses.group(:category).sum(:value) %>
      </div>
    </div>
    <div class="row">
      <div class="col card-dashboard border p-3">
          <% incomes_data = current_user.incomes.group_by_month(:date, format: "%b %Y").sum(:value) %>
          <% expenses_data = current_user.expenses.group_by_month(:date, format: "%b %Y").sum(:value) %>
      <%= column_chart [
        { name: 'Expenses', data: expenses_data },
        { name: 'Incomes', data: incomes_data }
      ], stacked: false %>

      </div>
    </div>
  </div>
  <%# <div class="container text-center" style="width: 50%">
    <div class="row">
      <div class="col card-dashboard">
      </div>
    </div>
    <div class="row">
      <div class="col card-dashboard">
      </div>
    </div>
  </div> %>
</div>
