<!-- Modal -->
<%= render "modal", expense: @expense %>
<!-- Floating buttons -->
<%= render "floating_button" %>
<!-- dashboard charts -->
<div class="container mt-3 mb-5 py-3 rounded-4" style="background-color: #f4f4f4">
  <div class="d-flex flex-column rounded-4 shadow-sm p-3 my-2" style="background-color: #fff" >
    <span class="fs-1 fw-bold <%= @color %> "> <%= number_to_currency(@saldo, unit: "R$ ", separator: ",", delimiter: ".") %> </span>
    <span>Total balance from all accounts</span>
  </div>
  <div class="d-flex flex-column justify-content-between mx-4">
    <div>
      <h1>Overview</h1>
      <p>View all of your Income and Spendings.</p>
    </div>
  </div>
  <div class="d-flex">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-lg-6 card-dashboard border">
          <% incomes_data = current_user.incomes.group_by_month(:date, format: "%b %Y").sum(:value) %>
          <% expenses_data = current_user.expenses.group_by_month(:date, format: "%b %Y").sum(:value) %>
          <%= column_chart [
            { name: 'Expenses', data: expenses_data },
            { name: 'Incomes', data: incomes_data }
          ], stacked: false %>
        </div>
        <div class="col card-dashboard border">
          <%= pie_chart current_user.expenses.group(:category).sum(:value), loading: "Loading...", empty: "No data" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 card-dashboard border">
          <%= bar_chart current_user.expenses.group(:category).sum(:value), loading: "Loading...", empty: "No data" %>
        </div>
        <div class="col card-dashboard border">
        </div>
      </div>
      <div class="row">
        <div class="col card-dashboard border transactions-card">
          <h5>Your top 5 expenses</h5>
          <%= render 'expenses/index_expenses', expenses: @top %>
        </div>
      </div>
    </div>
  </div>
</div>
